*{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1300px;
  height: 130px;
  margin: 0 auto;
}
.header-left{
  width: 35%;
}
.header-right{
  width: 65%;
}


.header-left a img{
  max-height: 30px;
}
.header-left .main_menu, .header-right .main_menu .menu_item{
  line-height: 30px;
}

.main_menu .menu_item a{
  color: grey;
}
.main_menu .menu_item a:hover{
  color: black;
  text-decoration: none;
}
.header-right button{
  background-color: rgb(235, 0, 141);
  border-radius: 2em;
  color: white;
  padding: 10px;

}


.dropdown_menu{
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  box-shadow: 1px 2px 1px 2px #cecece;
  width: 120px;
}
.dropdown_menu .menu_item{
  display: block;
}
.aperto{
  display: block;
}
.dropdown_menu .menu_item a{
  line-height: 50px;
  display: block;
}
.dropdown_menu .menu_item a:hover{
  color: black;
  background-color: #cecece;
}
.wmax{
  width: 200px;
}
.wmin{
  width: 60px;
}
.header-right .dropdown_menu a{
  padding-left: 5px;
}
